@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url(../css/variables.css);

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: var(--header);
    padding-block: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}

header > div {
    display: flex;
    align-items: center;
    height: 100%;
}

.infnet {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
}

header img {
    width: 55px;
    cursor: pointer;
    margin-right: 15px;
}

header img ~ h3 {
    color: white;
    font-weight: normal;
}

header .show-sidebar {
    cursor: pointer;
    color: white;
    stroke-width: 1;
}

header .profile::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--user-status);
    border-radius: 50%;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 1px var(--light-gray);
    border: 2px solid var(--header);
}

header .vl {
    height: 90%;
    border-left: 1px solid var(--medium-gray);
    margin-inline: 20px;
}

.sidebar {
    position: fixed;
    max-width: 300px;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--header);
    overflow: hidden;
    padding-top: 30px;
    z-index: 9;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 20px 25px;
    color: white;
    border-left: 0px solid var(--secondary);
    position: relative;
    transition: .25s;
}

.sidebar-item:hover {
    background: var(--header-opacity);
    border-left: 8px solid var(--secondary);
    transition: .25s;
}

.sidebar-item ion-icon {
    font-size: 22px;
    min-width: 22px;
    margin-right: 20px;
    --ionicon-stroke-width: 25px;
}

.sidebar-item p {
    font-size: 15px;
    text-overflow: hidden;
    white-space: nowrap;
}

.expand-item {
    position: absolute;
    left: 260px;
    stroke-width: 1.2;
}

.expanded-item .sidebar-item {
    padding-left: 50px;
}

.expanded {
    background: var(--header-opacity);
}





















.profile .feather-user {
    position: absolute;
    transform: translateY(3px);
    width: 26px;
    height: 26px;
}

.notifications {
    margin-inline: 30px;
    cursor: pointer;
    position: relative;
    color: var(--light-gray);
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '1';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--red);
    border-radius: 50%;
    right: 0;
    top: 0;
    transform: translate(3px, -3px);
    font-size: 10px;
    color: white;
}

.profile .feather-circle {
    width: 38px;
    height: 38px;
    stroke-width: 1.2;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 30px;
    position: relative;
    color: var(--light-gray);
}













.profile-expand {
    max-width: 280px;
    width: 100%;
    background-color: var(--header);
    position: fixed;
    top: calc(80px + 5px);
    right: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    z-index: 8;
}

.profile-expand > p {
    margin-block: 15px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.profile-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.profile-item:hover {
    background-color: var(--header-opacity);
}

.profile-item .feather {
    margin-inline: 10px 15px;
    stroke-width: 1.1;
    width: 22px;
    height: 22px;
}

.profile-item ion-icon {
    margin-inline: 10px 15px;
    font-size: 22px;
    min-width: 22px;
    --ionicon-stroke-width: 22px;
}

.profile-item .feather-check {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 15px;
}

.profile-item p {
    font-size: 14px;
}

.profile-expand .hl,
.notifications-expand .hl {
    width: 90%;
    height: 1px;
    background-color: var(--dark-gray);
    margin: 8px auto;
}

.profile-item .feather-circle {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.profile-expand .profile-item:nth-child(6) .feather-circle {
    fill: var(--green);
    color: var(--green);
}

.profile-expand .profile-item:nth-child(7) .feather-circle {
    fill: var(--yellow);
    color: var(--yellow);
}

.profile-expand .profile-item:nth-child(8) .feather-circle {
    fill: var(--red);
    color: var(--red);
}

.profile-expand .user-status {
    padding-left: 20px;
}

.profile-expand .user-status .feather-check {
    display: none;
}

.profile-expand .user-status:nth-child(6) .feather-check {
    display: block;
}

.profile-expand .profile-item:last-child {
    margin-bottom: 8px;
}










.notifications-expand {
    max-width: 380px;
    width: 100%;
    max-height: 300px;
    height: 500px;
    background-color: var(--header);
    position: fixed;
    top: calc(80px + 5px);
    right: 5px;
    box-sizing: border-box;
    z-index: 8;
}

.notifications-expand > p {
    margin-block: 15px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.notifications-expand > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-block: 10px;
}

.notifications-expand > .commands svg {
    stroke-width: 1.2;
    width: 20px;
    height: 20px;
    padding: 8px 20px;
    border: 1px solid var(--medium-gray);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .25s;
}

.notifications-expand > .commands svg:hover {
    background-color: var(--header-opacity);
    transition: .25s;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 170px;
}

.notifications-list::-webkit-scrollbar {
    width: 5px;           
}
  
.notifications-list::-webkit-scrollbar-track {
    background: transparent;        
}
  
.notifications-list::-webkit-scrollbar-thumb {
    background-color: var(--primary);    
    border-radius: 20px; 
}

.notifications-item {
    margin-block: 10px;
}










.owl-carousel {
    margin-top: 80px;
}

.owl-carousel img {
    height: 45vw;
    border: 1px solid var(--dark-gray);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.owl-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute;
    width: 100%;
    top: 180px; */
}

.owl-nav button span svg {
    width: 35px;
    height: 35px;
    color: white;
    margin-inline: 20px;
}

/* .owl-dots {
    width: 100%;
    border: 1px solid green;
}

button.owl-dot {
    width: 200px;
    height: 20px;
    background-color: red;
} */















.tour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.tour button {
    width: 400px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: white;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
  }

.tour button:before {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: calc(2px/-1);
    left: calc(2px/-1);
    background: linear-gradient(to right, var(--primary) 0%, var(--primary) 100%), linear-gradient(to top, var(--primary) 50%, transparent 50%), linear-gradient(to top, var(--primary) 50%, transparent 50%), linear-gradient(to right, var(--primary) 0%, var(--primary) 100%), linear-gradient(to left, var(--primary) 0%, var(--primary) 100%);
    background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
    transform: scaleX(0) rotate(0deg);
    transition-delay: 0.6s, 0.3s, 0s;
}

.tour button:hover:before {
    background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.3s, 0.6s;
}



.links-principais {
    margin-block: 100px;
}

.links-principais h3, .bibliotecas h3 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-bottom: 40px;
}

.links-principais > div, .bibliotecas > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 140px;
    border: 2px solid var(--dark-gray);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    transition: .25s;
}

.link ion-icon {
    font-size: 32px;
    color: white;
    margin-bottom: 8px;
    --ionicon-stroke-width: 18px;
}

.link p {
    color: white;
}

.link:hover {
    border-left: 15px solid var(--primary);
    transition: .25s;
}


